In [1]:
# Importacao de bibliotecas e definicao de variaveis globais
import httpx
import numpy as np
import pandas as pd
from sqlalchemy import create_engine,text
from database import create_tables
from datetime import datetime, timedelta

DATABASE_URL = "postgresql+psycopg2://output_user:output_password@localhost:5333/output_db"
API_HOST = "localhost"
API_PORT = 5000
API_ENDPOINT = "data"


#### Data desejada para a coleta
DATE = "19/03/2025"

In [2]:
# Criacao da tabela descrita no db_model.png no banco de dados alvo
create_tables(DATABASE_URL)

In [3]:
# Solicitacao dos dados a API
api_url = f"http://{API_HOST}:{API_PORT}/{API_ENDPOINT}/"

response = httpx.request(
  method="GET",
  url=api_url,
  params={"day": DATE, "variables": "wind_speed,power"}
)

# Conferindo resposta (print de 5 elementos)
print(response.json()[:5])

[{'wind_speed': 6.28304149323983, 'power': 11.305772091640728}, {'wind_speed': 7.917903151506014, 'power': 3.9082028021278727}, {'wind_speed': 9.870716729418255, 'power': 12.732563542279394}, {'wind_speed': 2.6552793039457017, 'power': 6.5010728182419655}, {'wind_speed': 10.336599767904854, 'power': 9.335828536805707}]

In [4]:
# Transformando os dados JSON em um DataFrame e agrupando os dados 10-minutal
df = pd.DataFrame(response.json())
_data = df.groupby(np.arange(len(df))//10)

In [5]:
# Agregando os dados para obter os valores de media,varincia, min e max para os dados agrupados
_data = _data.agg({"wind_speed": ["mean", "std", "min", "max"], "power": ["mean", "std", "min", "max"]})
# Criando o timestamp 10-minutal para inserir no banco de dados
timestamp =  [ datetime.strptime(DATE, "%d/%m/%Y") + timedelta(minutes=10*i) for i in range(len(_data))]

In [6]:
# Criando a variavel wind_speed_data
wind_speed_data = _data["wind_speed"].copy()
wind_speed_data["timestamp"] = timestamp
wind_speed_data["name"] = "wind_speed"
wind_speed_data.head()

       mean       std       min        max           timestamp        name
0  6.738911  3.166764  2.034558  11.290679 2025-03-19 00:00:00  wind_speed
1  5.212310  2.666555  2.380389   9.680974 2025-03-19 00:10:00  wind_speed
2  4.954106  3.152716  2.084185  11.652614 2025-03-19 00:20:00  wind_speed
3  6.741610  2.750405  3.489489  11.199396 2025-03-19 00:30:00  wind_speed
4  7.498936  3.181873  3.047427  11.726860 2025-03-19 00:40:00  wind_speed

In [7]:
# Criando a variavel power_data
power_data = _data["power"].copy()
power_data["timestamp"] = timestamp
power_data["name"] = "power"
power_data.head()

       mean       std       min        max           timestamp   name
0  9.339736  2.957613  3.908203  12.732564 2025-03-19 00:00:00  power
1  7.861103  3.821050  2.599147  13.515881 2025-03-19 00:10:00  power
2  8.371048  3.236963  3.704209  13.367046 2025-03-19 00:20:00  power
3  7.294842  3.416067  2.267613  12.051054 2025-03-19 00:30:00  power
4  8.231147  3.546639  4.165832  13.613190 2025-03-19 00:40:00  power

In [ ]:
# Insere os dados no banco de dados se a data nao existir no banco de dados
query = text(f"SELECT EXISTS (SELECT 1 FROM signal WHERE timestamp = to_date(:date, 'DD/MM/YYYY'))")
with create_engine(DATABASE_URL).connect() as connection:
    exists = connection.execute(query, {"date": DATE}).scalar()

if exists:
    print("Data already exists in the database")
else:
    wind_speed_data.to_sql("signal", con=create_engine(DATABASE_URL), if_exists="append", index=False)
    power_data.to_sql("signal", con=create_engine(DATABASE_URL), if_exists="append", index=False)
    print("Data inserted in the database")

Data already exists in the database

In [ ]:
# Conferindo a insercao ( print de 5 elementos)
print(pd.read_sql("SELECT * FROM signal", con=create_engine(DATABASE_URL)).head())

   signal_id        name      mean       min        max       std  \
0          1  wind_speed  6.738911  2.034558  11.290679  3.166764
1          2  wind_speed  5.212310  2.380389   9.680974  2.666555
2          3  wind_speed  4.954106  2.084185  11.652614  3.152716
3          4  wind_speed  6.741610  3.489489  11.199396  2.750405
4          5  wind_speed  7.498936  3.047427  11.726860  3.181873

            timestamp
0 2025-03-19 00:00:00
1 2025-03-19 00:10:00
2 2025-03-19 00:20:00
3 2025-03-19 00:30:00
4 2025-03-19 00:40:00